.heading {
    margin-bottom: 30px;

    h2 {
        font-size: 28px;
        font-weight: 600;
        color: $text-color;
    }

    p {
        font-size: 16px;
        color: $base-color;
        margin-top: 15px;
    }
}
.card-list{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    .card{
        flex: 1 0 24%;  
    }
}
@media(width<=1366px){
    .heading {
        margin-bottom: 20px;
    
        h2 {
            font-size: 18px;
        }
    
        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}
@media(width <= 1024px){
    .card-list{
        flex-wrap: wrap;
        .card{
            flex: 0 0 31%;
        }
    }
}

@media(width <= 640px){
    .card-list{
        .card{
            flex: 0 0 48%;
        }
    }
}

@media(width <= 540px){
    .card-list{
        .card{
            flex: 0 0 47%;
        }
    }
}